body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Roboto', monospace;
}

thead.ant-table-thead > tr > th {
  /* antd component doesn't allow any js style customization */
  font-weight: bold;
}

.slick-slider .slick-slide {
  padding: 0.5rem;
}
